.relationContainer
{
    position: relative;
    
    
}
.relationContainerOff
{
    overflow: hidden;
    height: 0px;
    width: 0px;
}
.chartContainer
{
   
   width: 600px;
}
.settingButtonContainer
{
    position: absolute;
    right: 0;
}
.relationBoxBody
{
    position: relative;
}